
<ion-header>

  <ion-navbar>
    <ion-title >{{quoteGroup.category | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card *ngFor="let quote of quoteGroup.quotes; let i=index">
  <ion-card-header>
  #{{i+1}}  {{quote.text}}
  </ion-card-header>
  <ion-card-content>

      <p class="author">
          {{quote.person}}
      </p>
  </ion-card-content>
<ion-row>
  <ion-col text-right>
    <button *ngIf="!isFavorite(quote)"  ion-button clear small (click)="onAddToFavorite(quote)">Favorite</button>
    <button *ngIf="isFavorite(quote)"   ion-button clear small (click)="onRemoveFromFavorite(quote)">Unfavorite</button>
  </ion-col>
</ion-row>
</ion-card>
</ion-content>
